body
{
    font-family: 'Tangerine', serif;
    background-color: #ffffff;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-image: url("images/default.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.jumbo
{
    font-size: 40px;
    background-color: black;
    color: #ffffff;
    margin-bottom: 0px;
}

#city-div
{
    width: 60%;
    margin: auto;
    text-align: center;
}

input[type="text"]
{
    height: 40px;
    font-size: 18px;
}

#submit-city
{
    height: 40px;
    letter-spacing: 0.5px;
    margin-top: 14px;
    border: none;
    border-radius: 5px;
}

#error-msg
{
    text-align: center;
    width: 60%;
    margin: auto;
}

#city
{
    margin-top: 15px;
}

#output-weather
{
    margin: auto;
    border-radius: 10px;
    width: 60%;  
}

